<div class="centered">
    
      <form (submit)="resetpw()" id="login-form" role="form">
        <h2>Please enter your new password:</h2>
    
        <div class="form-group">
          <label>Password</label>
          <input id="login-password" type="password" class="form-control" placeholder="Enter Password..." required minlength="8" #reghash="ngModel" name="password" [(ngModel)]="inputpassword"
            #log_password="ngModel" required>
          <div class="alert alert-danger" *ngIf="reghash.invalid && (reghash.dirty || reghash.touched)">
            <strong>Password is required and must be 8 characters long.</strong>
          </div>
        </div>
    
        <div class="modal-footer">
          <button id="btn-login" class="btn btn-success">Submit</button>
        </div>
        <p *ngIf="passwordset==true">Your password has been successful reset, you can now login with your new password.</p>
        
        <br/>
      </form>
    </div>