<!-- if login as captain to seek crew -->
<div class="CaptainSeekingCrew row">
  <form>
    <fieldset>
      <legend>Schedule a Sail</legend>
      <p>You Are Logged in as </p>
      <label>When you're setting sail:</label>
      <input id="date" type="date"><br>
      <label>Start: </label>
      <input id="time" type="time"><br>
      <label>End: </label><input id="time" type="time"><br>
      <label for="">Vessel:</label><br>  
      <input type="text"><br>
      <label for="">Specs:</label><br>
      <textarea class="textarea" name="comment" form="usrform"></textarea><br>
      <label for="">Number of Crew You Seek:</label><br>
      <input id="number" type="number" min="1"><br>
      <label for="">Captains Log(Message):</label><br>
      <textarea class="textarea" name="comment" form="usrform"></textarea>
    </fieldset>
  </form>
</div>

<!-- if login as crew to seeking vessel -->
<div class="CrewSeekingVessel row">
  <form>
    <fieldset>
      <legend>Join a ship</legend>
      <p>You Are Logged in as </p>
      <label>When you'd like to set sail:</label>
      <input id="date" type="date"><br>
      <label>Between:</label>
      <input id="time" type="time"><br>
      <label>End:</label>
      <input id="time" type="time"><br>
      <label for="">Message to Would-be Captains:</label><br>
      <textarea class="textarea" name="comment" form="usrform"></textarea>
    </fieldset>
  </form>
</div>