<div (click)="close()">
  <header>
    <span class="navbar-brand">
      <img alt="Brand" src="/assets/images/brand.png">
      <span>GPYC SAILING PROGRAM</span>
    </span>
    <span class="user_name" *ngIf="logged_user !== undefined ">Hi, {{logged_user}}</span>
    <button class="btn btn-danger" *ngIf="logged_user == undefined" (click)="deleteProfile()">Delete Your Profile</button>

    <nav>
      <span id="menu-icon" (click)="click()"></span>
      <ul id="check_box">
        <li>
          <button type="button" class="btn btn-primary navbar-btn" (click)="scrollTo()">
            <i class="icon ion-md-calendar"></i> Calendar</button>
        </li>
        <li>
          <button *ngIf="logged_user == undefined" type="submit" class="btn btn-primary" (click)="display_reg()">
            <i class="ion-android-boat"></i> Register</button>
        </li>
        <li>
          <button *ngIf="logged_user == undefined" type="button" class="btn btn-success" (click)="display_login()">
            <i class="ion-person"></i> Login</button>
        </li>

        <li>
          <button *ngIf="logged_user !== undefined " type="button" class="btn btn-danger" (click)="logout()">
            <i class="ion-person"></i> Logout</button>
        </li>

      </ul>

    </nav>

  </header>



  <div id="regForm" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div style="text-align: center">
        <span id="reg1">
          <button>Register as Captain</button>
        </span>
        <span id="reg2">
          <button>Register as Student</button>
        </span>
      </div>

      <form id="cap" (submit)="capReg()">
        <h4>Register as Captain</h4>
        <div class="form-group">
          <label for="">Your Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="captain_reg.name" placeholder="Your name..." #capName="ngModel"
            required minlength="3">
        </div>
        <div class="alert alert-danger" *ngIf="capName.invalid && (capName.dirty || capName.touched)">
          <strong>User name is required and must be 3 characters long.
          </strong>
        </div>

        <div class="form-group">
          <label for="">Email Address</label>
          <input type="text" class="form-control" required pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})" name="email"
            [(ngModel)]="captain_reg.email" placeholder="Your email..." #capemail="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="capemail.invalid && (capemail.dirty || capemail.touched)">
          <strong>Email is required.</strong>
        </div>
        <div class="alert alert-danger" *ngIf="err_message.email">
          <strong>{{err_message.email}}</strong>
        </div>


        <div class="form-group">
          <label for="">Phone</label>
          <input type="tel" class="form-control" name="phone" [(ngModel)]="captain_reg.phone" placeholder="Your Phone..." required
            #phone="ngModel">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" required minlength="8" name="stupassword" [(ngModel)]="captain_reg.password"
            placeholder="Password..." #reghash="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="reghash.invalid && (reghash.dirty || reghash.touched)">
          <strong>Password is required and must be 8 characters long.</strong>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeReg()">Close</button>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
        <br/>
      </form>

      <!-- student -->
      <form id="student" (submit)="studentReg()">
        <h4>Register as Student</h4>
        <div class="form-group">
          <label for="">Your Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="student_reg.name" placeholder="Your name..." #studentName="ngModel"
            required minlength="3">
        </div>
        <div class="alert alert-danger" *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)">
          <strong>User name is required and must be 3 characters long.
          </strong>
        </div>

        <div class="form-group">
          <label for="">Email Address</label>
          <input type="text" class="form-control" required pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})" name="email"
            [(ngModel)]="student_reg.email" placeholder="Your email..." #email="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <strong>Email is required and checking the format.</strong>
        </div>
        <div class="alert alert-danger" *ngIf="err_message.email">
          <strong>{{err_message.email}}</strong>
        </div>


        <div class="form-group">
          <label for="">Phone</label>
          <input type="tel" class="form-control" name="phone" [(ngModel)]="student_reg.phone" placeholder="Your Phone..." required
            #phone="ngModel">
        </div>


        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" required minlength="8" name="stupassword" [(ngModel)]="student_reg.password"
            placeholder="Password..." #stuhash="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="stuhash.invalid && (stuhash.dirty || stuhash.touched)">
          <strong>Password is required and must be 8 characters long.</strong>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeReg()">Close</button>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
        <br/>
      </form>


    </div>
  </div>

  <!-- Login Form -->

  <div id="loginForm" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <form (submit)="login()" #formLogin="ngForm" id="login-form" role="form">

        <div class="form-group">
          <label for="">Your Email: </label>
          <input type="text" class="form-control" id="login-username" placeholder="Enter Email..." name="email" [(ngModel)]="user_log.email"
            #log_email="ngModel" required>
          <div *ngIf="log_email.invalid && (log_email.dirty || log_email.touched)">
            <div class="alert alert-dismissible alert-danger aler_log" role="alert">
              <div *ngIf="log_email.errors">
                <strong>
                  <span> Email is required.</span>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input id="login-password" type="password" class="form-control" placeholder="Enter Password..." name="password" [(ngModel)]="user_log.password"
            #log_password="ngModel" required>
          <div *ngIf="log_password.invalid && (log_password.dirty || log_password.touched)">
            <div class="alert alert-dismissible alert-danger aler_log" role="alert">
              <div *ngIf="log_password.errors">
                <strong>
                  <span> Password is required.</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeLogin()">Close</button>
          <button id="btn-login" [disabled]="formLogin.invalid" data-toggle="modal" class="btn btn-success">Submit</button>
        </div>
        <div class="alert alert-dismissible alert-danger aler_log" role="alert" *ngIf="error_message.login != ''">
          {{error_message.login}}
        </div>
        <br/>
      </form>
    </div>
  </div>

  <app-header></app-header>
  <app-display></app-display>

  <app-calendar class="calendar"></app-calendar>
  <app-footer></app-footer>
</div>