<!-- <footer class=" page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="wrapper container text-center text-md-left">
      <div class="row">
        <div class="col-md-4">
          <p>Ready New Mortgage supports Vets in Tech</p>
        </div>
        <div class="row col-md-2 mx-auto">
          <img alt="logo" src="/assets/images/logo.png">
        </div>
        <div class="col-md-4">
          <p>This site was made by Sapper Coding</p>
        </div>
      </div>
    </div>
  </footer> -->

  <footer>
    <div class="copyright">
      <p><img src="../../assets/images/brand.png" alt="">&copy 2018 - GPYC SAILING PROGRAM</p>
      
    </div>
    <div class="social">
      <a href="#" class="support">Contact Us</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>
    </div>
  </footer>