html,
body{
    margin: 0;
    display: table;
}

.wrapper{
    padding: 20px;
    height: auto;
}

footer{
    background-color:#466481;
    display: tabl-row;
    height: auto;

}

img{
    width: 40px;
    height: 40px;
    margin: auto;
}

footer p{
    color: white;
}