<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <section id="wrapper">
    <header class="wordWrapper">
      <h1>GPYC WOMEN'S
        <span>SAILING PROGRAM</span>
      </h1>

      <button type="submit" class="btn btn-primary">Events Calender</button>

      <button type="submit" class="btn btn-primary">Jump to Login</button>
        <h1 class="autoplay">GPYC WOMEN'S SAILING PROGRAM</h1>
      <button type="submit" class="btn btn-primary" (click) ="scrollToCalendar()">Events Calender</button>
      <button type="submit" class="btn btn-primary" (click) ="display_login()">Jump to Login</button>

    </header>

  </section>

  <section id="service">
    <div class="container">
      <div class="row justify-content-md-center">
        <div id="content" class="col-lg-8">
          <h2 class="text-center mt-4">
            <i style="font-size: 5rem;" class="ion-android-boat"></i>
            <strong>Activities</strong>
          </h2>
          <hr>
          <h3 class="large text-center">
            Let's join us................
          </h3>
        </div>
      </div>
    </div>
  </section>
  <a id="return-to-top" (click)="arrowClick($event)">
    <i class="ion-chevron-up"></i>
  </a>

</body>

</html>