<body>
  <section id="wrapper">
    <div class="showcase">
      <h1>GPYC WOMEM'S SAILING PROGRAM</h1>
    <header class="showcase">
        <h1 class="autoplay">GPYC WOMEN'S SAILING PROGRAM</h1>
      <button type="submit" class="btn btn-primary">Events Calender</button>
      <button type="submit" class="btn btn-primary">Jump to Login</button>
    </div>
    <div class="center">
    </div>
  </section>

  <section id="service">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <h2 class="text-center mt-4">
            <i style="font-size: 5rem;" class="ion-android-boat"></i>
            <strong>Activities</strong>
          </h2>
          <hr>
          <h3 class="large text-center">
            Let's join us................
          </h3>
        </div>
      </div>
    </div>
  </section>
  <a id="return-to-top" (click)="arrowClick($event)"><i class="ion-chevron-up"></i></a>
</body>